.a {
  color: rgb(30, 90, 180);
  text-decoration: none;
}

.main-title {
  font-weight: bold;
  letter-spacing: -3px;
}

.main-title small {
  letter-spacing: 0px;
}

.search-form {
  padding: 15px;
  margin: 0 auto;
}

.search-form button {
  width: 50px;
}

.result {
    width: 100%;
    display: block;
    margin: 10px auto;
    font-size: 0;
    padding: 5px;
}

.result img {
  width: 150px;
  display: inline-block;
}

.thumbnail {
    display: inline-block;
    max-height: 150px;
    overflow: hidden;
}

.product-info {
    display: inline-block;
    vertical-align: top;
}

.caption {
    font-size: 16px;
    margin: 18px 10px;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin: 18px 10px;
    letter-spacing: -2px;
    color: rgb(40, 40, 40);
}

.prix {
  font-size: 22px;
  color: rgb(30, 90, 200);
}

.currency {
  font-size: 16px;
  margin: 0 5px;
}

.autocomplete-suggestions {
    position: absolute;
    top: 0px;
    left: 0px;
    border:1px solid #ccc;
    margin: 0;
}

.autocomplete-suggestion {
    padding: 5px;
    background-color: #fff;
    cursor: default;
    text-align: left;
    max-height: 350px;
    overflow: auto;
    font-size: 17px;
    _height: 350px;
    _margin: 0;
    _overflow-x: hidden;
}

.autocomplete-suggestion:hover {
    background-color: #428bca;
    color: #fff;
}

.autocomplete .selected {
    background: #F0F0F0;
}

.autocomplete div {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete strong {
    font-weight: normal;
    color: #3399FF;
}
