.a {
  color: rgb(30, 90, 180);
  text-decoration: none;
}

.search-form {
  padding: 15px;
  margin: 0 auto;
}

.search-form button {
  width: 50px;
}

.result {
    width: 100%;
    display: block;
    margin: 10px auto;
    font-size: 0;
    padding: 5px;
}

.result img {
  max-width: 150px;
  margin: -45px 0;
  display: inline-block;
}

.thumbnail {
    display: inline-block;
    height: 150px;
    overflow: hidden;
}

.product-info {
    display: inline-block;
    vertical-align: top;
}

.caption {
    font-size: 16px;
    margin: 18px 10px;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin: 18px 10px;
    letter-spacing: -2px;
    color: rgb(40, 40, 40);
}

.prix {
  font-size: 22px;
  color: rgb(30, 90, 200);
}

.currency {
  font-size: 16px;
  margin: 0 5px;
}
