.search-form {
  padding: 15px;
  margin: 0 auto;
}

.search-form button {
  width: 50px;
}

.result {
    width: 100%;
    display: block;
    margin: 10px auto;
}

.result img {
  max-width: 300px;
  margin: 10px;
  display: inline-block;
}

.thumbnail {
    display: inline-block;
}

.product-info {
    display: inline-block;
}

.caption {
    vertical-align: top;
    font-size: 16px;
    margin: 18px 10px;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin: 18px 10px;
    letter-spacing: -2px;
    color: rgb(40, 40, 40);
}

.prix {
  font-size: 22px;
  color: #FFC70F;
}
