<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TESS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>TESS</h1>
            <form class="search-form" role="search">
                <div class="row">
                    <div class="input-group">
                        <input type="text" id="search-bar" class="form-control input-lg" placeholder="Search" autofocus>
                        <div class="input-group-btn">
                            <button id="search-btn" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="result"></div>
        </div>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
